<html>
<head>
<title>
<page.title>
</title>
</head>
<body>
<h1><page.title></h1>
<content>
<p class="disclaimer">
Everything on this site is copyright &copy; Timothy M. Totten, 2010.
Site powered by Webtoo Websight 6 (ww6)
</p>
</body>
</html>
